@import url(http://fonts.googleapis.com/css) 

p {font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times New Roman", serif; (We use quotes for names with spaces in between)*/
  font: normal 0.75em/1.5em Georgia, "New Times New Roman", serif;
  color: #777;
  text-align: right; 
}